@CHARSET "UTF-8";

#Login 
{
	background: #ffffff url(../images/table_background.png) repeat-x; 
	display:block; 
	margin:0 auto; 
	box-shadow:5px 5px 5px #000940; 
	background-color:#ffffff;
	width:550px;
	text-align: center;
}

/* Account Page */
#UnplacedAds
{
	display:inline-block;
	float:left;
	white-space:nowrap; 
	background: url(../images/table_background.png) repeat-x; 
	border:1px solid #b2b2b2; 
	padding:0px 10px 10px 10px; 
	margin-right: 10px;
	min-width:300px;
	text-align:left;
}
#ExpiringAds
{
	display:inline-block;
	float:left;
	white-space:nowrap; 
	background: url(../images/table_background.png) repeat-x; 
	border:1px solid #b2b2b2; 
	padding:0px 10px 10px 10px; 
	margin-right: 10px;
	min-width:300px;
	text-align:left;
}
#OpenSections
{
	display:inline-block;
	float:left;
	white-space:nowrap; 
	background: url(../images/table_background.png) repeat-x; 
	border:1px solid #b2b2b2; 
	padding:0px 10px 10px 10px; 
	margin-right: 10px;
	min-width:300px;
	text-align:left;
}

/* Reports */
#AdSummary
{
	display:inline-block;
	width:50%; 
	white-space:nowrap;
	float:left; 
	text-align:center;
	vertical-align:top;
	margin:10px;
}
#AdSummaryDescription
{
	display:inline-block;
	vertical-align:top;
}

/*
#RunReportColumns
{
	display:inline-block;
	float: left;
	position: inherit;
	padding:10px;
}
*/
#nav 
{
	margin:0; 
	padding:0; 
	list-style:none;
}	
	
		/* make the LI display inline */
		/* it's position relative so that position absolute */
		/* can be used in submenu */
		#nav li {
			float:left; 
			display:block;  
			background-color:#142c61; 
			position:relative;
			z-index:500; 
			margin:0;
		}
		
		/* this is the parent menu */
		#nav li a {
			display:block; 
			padding:5px; 
			text-align:center;
		}

/* submenu, it's hidden by default */
		#nav ul {
			position:absolute; 
			background-color:#142c61;
			left:0; 
			display:none; 
			margin:0; 
			padding:5px; 
			list-style:none;
		}
		
		#nav ul li { 
			float:left;
			background-color:#142c61;
		}
		
		/* display block will make the link fill the whole area of LI */
		#nav ul a {
			display:block; 
			padding:5px 5px 1px 5px; 
			vertical-align: middle;
		}
		
		#nav ul a:hover {
			background-color:#ffffff;
		}
/*
.header 
{
	background: url(../images/nav_background.png) repeat-x; 
	height:40px;
	color:#ffffff;
	font-size:14px; 
	font-style:normal; 
	font-weight:bold;
	text-align:left; 
	word-spacing:.15em; 
	vertical-align:middle; 
	padding:0px 0px 17px 10px;
	white-space:nowrap;
}
*/
@media screen 
{
	#Header
	{
		display: block;
		background-color: #ffffff;
		box-shadow: 5px 5px 5px #000940;
		margin: 0px auto;
		width: 95%;
	}
	#Header_Logo
	{
		display: block;
		background: url(../images/table_background.png) repeat-x; 
		padding: 0px;
		margin: 0px;
		text-align: left;
		padding: 5px 5px 5px 15px;
	}
	#Header_Nav
	{
		display: block;
		white-space: nowrap;
		background-color:#142c61;
		height:30px;
		width: 100%;
		vertical-align:middle;
		font-size: 14px;
	}
	#Header_Nav_User
	{
		display:table-cell;
		white-space:nowrap;
		padding-left:30px;
		height:auto;
		vertical-align:middle;
		color:#ffffff;
		white-space:nowrap;
	}
	#Header_Nav_Locations
	{
		display:table-cell;
		white-space:nowrap;
		padding-left:50px;
		height:auto;
		width:150px;
		background-color:#142c61;
		vertical-align:middle;
		color:#ffffff;
		white-space:nowrap;
	}
	#Header_Nav_Advertisers
	{
		display:table-cell;
		white-space:nowrap;
		padding-left:50px;
		height:auto;
		width:170px;
		vertical-align:middle;
		color:#ffffff;
		white-space:nowrap;
	}
	#Header_Nav_Advertisements
	{
		display:table-cell;
		white-space:nowrap;
		padding-left:50px;
		height:auto;
		width:200px;
		vertical-align:middle;
		color:#ffffff;
		white-space:nowrap;
	}
	#Header_Nav_Users
	{
		display:table-cell;
		background-color:#142c61;
		white-space:nowrap;
		padding-left:50px;
		height:auto;
		width:130px;
		vertical-align:middle;
		color:#ffffff;
		white-space:nowrap;
	}
	#PageHeader
	{
		display:none;
	}
	#Content
	{
		display: block;
		background-color: #ffffff;
		background: #ffffff url(../images/table_background.png) repeat-x;
		box-shadow: 5px 5px 5px #000940;
		margin: 0px auto;
		width:95%;
		min-height:200px;
	}
	#Content_Main
	{
		display:block; 
		padding:0px 15px 15px 15px;
		margin:0px auto;
		vertical-align:top;
		width:95%;
		min-height:200px;
		height:auto;
	}
	#PageTitle
	{
		display:block;
		width:auto;
		padding:10px;
		font-size: 16px; 
		font-weight:bold; 
		color:#ee3224;
		text-align:left;
		vertical-align:middle;
	}

/* Locations */
	#SearchLocationTextBox
	{
		width: 300px;
		height: 20px;
	}
	
	#SearchResults
	{
		width:95%; 
		margin:5px; 
		display:block;
	}
	#RegionList
	{
		vertical-align:top; 
		width:300px; 
		margin:5px; 
		display:inline-block;
	}
	#CityList
	{
		vertical-align:top; 
		width:300px; 
		margin:5px; 
		display:inline-block;
	}
	#ZipcodeList
	{
		vertical-align:top; 
		width:300px; 
		margin:5px; 
		display:inline-block;
	}
	#ViewReportDropdown
	{
		height:20px;
	}
	#AccountListRegionRow
	{
		display:block; 
		width:auto; 
		padding:5px; 
		vertical-align:middle; 
		background-color:#142c61; 
		color:#ffffff; 
		font-weight:bold;
	}
	#AccountListColumn1
	{
		width:400px; 
		vertical-align:top; 
		display:inline-block;
	}
	#AccountListColumn2
	{
		width:400px; 
		vertical-align:top; 
		padding-left:10px; 
		display:inline-block;
	}
	#AccountListColumn3
	{
		width:200px; 
		vertical-align:top; 
		padding-left:10px; 
		display:inline-block;
	}

/* Reports */
	#RentReportSearchOptions
	{
		display:block; 
	}
	#Footer
	{
		display: block;
		background-color: #000000;
		box-shadow: 5px 5px 5px #000940;
		margin: 0px auto;
		width:95%;
	}
	#Footer_Main
	{
		display: block;
		white-space: nowrap;
		height:auto; 
		padding: 10px;
		text-align:center; 
		vertical-align:middle; 
		color:#ffffff; 
		font-size:9px; 
		font-weight:bold;
		margin: 0px auto;
		width:95%;
	}

	.ContentTable
	{
		background: url(../images/table_background.png) repeat-x; 
		box-shadow:5px 5px 5px #000940;
	}
	input, textarea, select, button 
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		border:1px solid #142c61;
		color:#142c61;
	}
	#PanelRowBreak
	{
		clear:both;
	}
	#RegionalRunReport
	{
		display:block;
		width: 100%;
		margin-bottom:10px;
	}
	#RunReport
	{
		display:block;
		width: 100%;
		font-size:inherit 200%;
	}
	.panel
	{
		box-shadow:1px 3px 3px 1px #142c61; 
		background:url(images/table_background.png) repeat-x; 
		background-color:#ffffff; 
		border:1px solid #555555; 
		margin:0px auto; 
		padding:3px;
	}
}

@media print 
{
	#PanelRowBreak
	{
		clear:none;
	}
	#RegionalRunReport
	{
		display:block;
		width: 100%;
		margin-bottom:10px;
	}
	#RunReport
	{
		display:block;
		width: 100%;
		font-size:inherit 200%;
		page-break-after:always;
	}
	#PageHeader
	{
		display:block;
	}
}
