@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: rgb(0, 49, 83);

    font-size: 1.75rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
}

a {
    font-weight: bolder;
    color: rgb(0, 49, 83);
    cursor: default;
}

a:link, a:active, a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 767px) {
    body {
        font-size: 1rem;
    }
}

@media screen and (min-width: 990px) {
    body {
        font-size: 0.8rem;
    }
}